:root {
    --black-bkg: #222222;

}

a {
    text-decoration: none;
}

img {
    display: block;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: var(--black-bkg);

}

.header-flx {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
}
.header__loupe {
    margin-left: 41px;
}
.header__list {
    display: flex;
    align-items: center;
}

.header__item {
    margin-left: 34px;
}

.header__button {
    border: none;
    background-color: transparent;
}

.header__nav {
    display: none;
}

.main__section-brand {
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}

.main__section-brand-logo {
    
    text-transform: uppercase;
}

.main__section-brand-title {
    font-weight: 900;
    font-size: 48px;
}

.main__section-brand-text {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

}

span {
    color: #fa7474;
}

.main__section-sales-title {
    display: none;
}

.main__section-sales {
    margin-top: 65px;
}

.main__section-sales-list1 {
    display: flex;
    justify-content: space-between;

}

.main__section-sales-item1 {
    background-image: url(../img/sales-women.jpg);
    background-repeat: no-repeat;
    width: 360px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__section-sales-item2 {
    background-image: url(../img/sales-man.jpg);
    background-repeat: no-repeat;
    width: 360px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__section-sales-item3 {
    background-image: url(../img/sales-child.jpg);
    background-repeat: no-repeat;
    width: 360px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__section-sales-item4 {
    background-image: url(../img/saled-accesories.jpg);
    background-repeat: no-repeat;
    margin-top: 30px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__section-sales-list-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
    

}

.main__section-sales-list-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #fa7474;
    text-transform: uppercase;
}

.main__section-catalog {
    margin-top: 96px;
}

.main__section-catalog-begin {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.main__section-catalog-begin-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.main__section-catalog-begin-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-top: 6px;
    margin-bottom: 48px;
}

.main__section-catalog-product {
    display: flex;
    
}

.main__section-catalog-product-item {
    margin-top: 24px;
}

.main__section-catalog-product-title {
    font-weight: 400 ;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-left: 18px;
    text-transform: uppercase;
    
}

.main__section-catalog-product-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 12px;
    margin-left: 12px;
    
}

.main__section-catalog-product-textcash {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px;
    margin-left: 18px;
    margin-bottom: 50px;
}

.main__section-catalog-btn{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.main__section-catalog-btn-title {
    border: 1px solid #FF6A6A;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 14px 35px 14px 35px;
     
}

.footer__inf {
    background-color: var(--black-bkg);
    display: flex;
    justify-content: center;
    margin-top: 95px;
    min-height: 341px;
    
}

.footer__list {
    width: 360px;
    height: 174px;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__item {
    margin-top: 28px;
}

.footer__list-title {
    
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
}

.footer__list-text {
    
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
    text-align: center;
}

.footer__subscribe {
    display: flex;
    justify-content: space-evenly;
   background-repeat: no-repeat;
    align-items: center;
    background-image: url(../img/footer-subcribe.jpg);
    background-position: center;
    min-height: 448px;
    background-size: cover;
}

.footer__subscribe-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__subscribe-text {
    
    font-weight: 400 light;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 359px;
    margin-top: 20px
}

.footer__subscribe-form-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.footer__subscribe-form-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}

.footer__input-text {
    box-sizing: border-box;
    width: 256px;
    height: 49px;
    border: 0;
    border-radius: 25px 0 0 25px;
    color: #9F9F9F;
    padding-left: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background: #E1E1E1;;

}

.footer__input-btn {
    background: #F16D7F;
    width: 100px;
    height: 49px;
    margin-left: -3px;
    border: 0;
    border-radius: 0 25px 25px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;;
}

.footer__copysocial {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 79px;
    background-color: var(--black-bkg);
}

.footer__copysocial-list {
    display: flex;
}

.footer__copysocial-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;

}

.footer__copysocial-item {
    margin-left: 7px;
}