input {
    font-family: 'Lato';
}

button {
    font-family: 'Lato';
}

a {
    text-decoration: none;
}

a:active {
    box-sizing: border-box;
    outline: 3px solid grey;
    color: grey;
}

button:active {
    box-sizing: border-box;
    border: 3px solid grey;

}

img {
    display: block;
}

span {
    color: #fa7474;
}

.v-h {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

hr {
    color: #E2E2E2;
    width: 100%;
    margin-top: 21px;
    margin-bottom: 17px;
}

@media (min-width: 391px) and (max-width: 768px) {
    .container {
        width: 768px;
    }
}

@media (max-width: 390px) {
    .container {
        width: 390px;
    }
}