input {
  font-family: 'Lato';
}

button {
  font-family: 'Lato';
}

a {
  text-decoration: none;
}

a:active {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 3px solid grey;
  color: grey;
}

button:active {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid grey;
}

img {
  display: block;
}

span {
  color: #fa7474;
}

.v-h {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

hr {
  color: #E2E2E2;
  width: 100%;
  margin-top: 21px;
  margin-bottom: 17px;
}

@media (min-width: 391px) and (max-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 390px) {
  .container {
    width: 390px;
  }
}

.brand {
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.brand__logo {
  text-transform: uppercase;
}

.brand__title {
  font-weight: 900;
  font-size: 48px;
  position: relative;
}

.brand__title:before {
  content: '';
  width: 12px;
  height: 92px;
  position: absolute;
  background-color: #F16D7F;
  top: -4px;
  left: -26px;
}

.brand__text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

@media (min-width: 391px) and (max-width: 768px) {
  .brand__img {
    height: 368px;
  }
}

@media (max-width: 390px) {
  .brand {
    height: 363px;
  }
  .brand__img {
    display: none;
  }
  .brand__text {
    font-size: 20px;
    line-height: 24px;
  }
  .brand__title {
    font-size: 38px;
  }
  .brand__title:before {
    top: 2px;
    height: 61px;
  }
}

.catalog {
  margin-top: 96px;
}

.catalog__fetured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__fetured-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.catalog__fetured-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-top: 6px;
}

.catalog__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__product-block-transparent {
  width: 100%;
  min-height: 421px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
}

.catalog__product-list {
  width: 360px;
}

.catalog__product-btn-cart {
  position: absolute;
  top: 209px;
  left: 175px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #FFFFFF;
  background: none;
  color: #FFFFFF;
  width: 138px;
  height: 43px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog__product-btn-cart:hover,
.catalog__product-btn-cart:focus {
  background-color: #f54c4c;
}

.catalog__product-block-transparent,
.catalog__product-btn-cart {
  display: none;
}

.catalog__product-block {
  position: relative;
}

.catalog__product-block:hover .catalog__product-block-transparent {
  display: block;
}

.catalog__product-block:hover .catalog__product-btn-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

.catalog__product-item {
  margin-top: 24px;
}

.catalog__product-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-left: 13px;
  text-transform: uppercase;
}

.catalog__product-title:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 3px solid #f54c4c;
  color: #F26376;
}

.catalog__product-title:active {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 3px solid grey;
  color: grey;
}

.catalog__product-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 12px;
  margin-left: 12px;
}

.catalog__product-textcash {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
  margin-left: 18px;
  margin-bottom: 50px;
}

.catalog__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48px;
}

.catalog__link:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.catalog__link {
  border: 1px solid #FF6A6A;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 14px 35px 14px 35px;
}

@media (min-width: 391px) and (max-width: 768px) {
  .catalog {
    margin-top: 154px;
  }
  .catalog__fetured {
    margin-bottom: 72px;
  }
  .catalog__product {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .catalog__btn {
    margin-top: 32px;
  }
}

@media (max-width: 390px) {
  .catalog {
    margin-top: 64px;
  }
  .catalog__fetured {
    margin-bottom: 64px;
  }
  .catalog__product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .catalog__product-textcash {
    margin-bottom: 0;
  }
}

.footer__inf {
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 95px;
  min-height: 341px;
}

.footer__list {
  width: 360px;
  height: 174px;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  margin-top: 28px;
}

.footer__list-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;
}

.footer__list-text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
  text-align: center;
}

.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-repeat: no-repeat;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/footer-subcribe.jpg);
  background-position: center;
  min-height: 448px;
  background-size: cover;
}

.footer__subscribe-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__subscribe-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 359px;
  margin-top: 20px;
}

.footer__subscribe-form-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.footer__subscribe-form-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.footer__item-img {
  height: 40px;
  width: 40px;
}

.footer__input-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 256px;
  height: 49px;
  border: 0;
  border-radius: 25px 0 0 25px;
  color: #9F9F9F;
  padding-left: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background: #E1E1E1;
}

.footer__input-text:hover {
  border: 1px solid #F16D7F;
}

.footer__input-text:focus {
  border: 1px solid #FFFFFF;
  background: #555;
}

.footer__copysocial-item:hover .svg-img {
  fill: red;
}

.footer__copysocial-item:hover .path-fill {
  fill: #fff;
}

.footer__copysocial-link:focus {
  border: none;
  outline: none;
}

.footer__copysocial-link:focus .svg-img {
  fill: red;
}

.footer__copysocial-link:focus .path-fill {
  fill: #fff;
}

.svg-img {
  fill: #FFFFFF;
}

.path-fill {
  fill: #222222;
}

.footer__input-btn {
  background: #FFFFFF;
  width: 100px;
  height: 49px;
  margin-left: -4px;
  border: 1px solid #F16D7F;
  border-radius: 0 25px 25px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  cursor: pointer;
}

.footer__input-btn:hover {
  color: #FFFFFF;
  background: #F16D7F;
}

.footer__input-btn:focus {
  color: #fff;
  background: #555;
}

.footer__copysocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 79px;
  background-color: #222222;
}

.footer__copysocial-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__copysocial-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__copysocial-item {
  margin-left: 7px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 768px) {
  .footer__inf {
    margin-top: 65px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 610px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__list {
    margin-top: 48px;
    height: 134px;
  }
  .footer__item {
    margin-top: 0;
  }
  .footer__list-title {
    margin-top: 28px;
  }
  .footer__list-text {
    margin-top: 16px;
  }
  .footer__subscribe {
    min-height: 693px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 390px) {
  .footer__subscribe {
    height: 550px;
    background-position-x: left;
  }
  .footer__copysocial {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 143px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.header {
  background-color: #222222;
  position: relative;
}

.header .header__item {
  margin-left: 34px;
}

.header .header__item-nav {
  margin-left: 34px;
}

.header .header__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__flx .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__flx .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__flx .nav {
  display: none;
  position: absolute;
  background: #FFFFFF;
  top: 75px;
  right: 0;
  width: 232px;
  height: 764px;
}

.header__logo .header__search {
  position: relative;
  margin-left: 22px;
}

.header__logo .header__search:hover {
  display: block;
}

.header__logo [type="search"] {
  padding: 10px 34px;
  border: none;
  outline: 1px solid #222222;
  border-radius: 10px;
  background: #222222;
}

.header__logo .header__search-svg-img {
  position: absolute;
  top: 8px;
  left: 6px;
  height: 20px;
  width: 20px;
}

.header__logo .header__search-path-fill {
  fill: white;
}

.header__logo [type="search"]:hover,
.header__logo [type="search"]:focus {
  outline: 1px solid #f54c4c;
  border: 2px solid #f54c4c;
  background: #FFFFFF;
}

.header__logo [type="search"]:hover + .header__search-svg-img > path,
.header__logo [type="search"]:focus + .header__search-svg-img > path {
  fill: #222222;
}

.header__svg-img:hover path {
  fill: red;
}

.header__link:focus .header__svg-img path {
  fill: red;
}

@media (min-width: 391px) and (max-width: 768px) {
  .header__item {
    margin-left: 25px;
  }
  .header__flx {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 390px) {
  .header__item {
    display: none;
  }
  .header__flx {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  [type="search"] {
    padding: 10px 5px;
  }
}

.main__title {
  background: #F8F3F4;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__title-style {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  width: 1140px;
}

.main__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 96px;
}

.main__product-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  height: 306px;
  -webkit-box-shadow: 10px 10px 8px 0px rgba(3, 4, 4, 0.23);
  box-shadow: 10px 10px 8px 0px rgba(3, 4, 4, 0.23);
}

.main__product-list-x {
  position: absolute;
  width: 18px;
  height: 18px;
  color: #222222;
  top: 6px;
  left: 547px;
  border: 0;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.main__product-list-x:hover {
  border: 1px solid #222222;
  border-radius: 5px;
  background-color: #d0d0d0;
}

.main__product-item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
  margin-left: 31px;
  margin-bottom: 36px;
  margin-top: 22px;
  width: 262px;
}

.main__product-info {
  width: 306px;
}

.main__product-item {
  position: relative;
}

.main__product-item-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-top: 6px;
  margin-left: 31px;
}

.main__product-cash {
  color: red;
}

.main__product-item-kol {
  position: absolute;
  top: -1px;
  left: 156px;
  border: 1px solid blue;
  padding: 1px 15px 1px 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
}

.main__section-delivery {
  margin-top: 56px;
}

.main__section-delivery-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__delivery-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.main__section-price {
  background: #F5F3F3;
  padding-left: 44px;
  padding-right: 43px;
  padding-top: 39px;
  padding-bottom: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main__section-price-text-small {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.main__section-price-text-large {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.main__section-price-btn {
  background: #F16D7F;
  width: 100%;
  height: 50px;
  border: none;
  outline: 0;
  cursor: pointer;
}

.main__section-price-btn-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.main__delivery-btn {
  width: 101px;
  height: 35px;
  margin-top: 24px;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #A4A4A4;
  margin-bottom: 57px;
  cursor: pointer;
  color: #4A4A4A;
}

.main__delivery-btn:hover {
  background-color: #F16D7F;
  border: 1px solid #FFFFFF;
  outline: none;
}

.main__product-twobtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
  margin-bottom: 128px;
}

.main__product-btn {
  width: 234px;
  height: 49px;
  border: 1px solid #A4A4A4;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.main__product-btn:hover {
  background-color: #F16D7F;
  border: 1px solid #FFFFFF;
  outline: none;
}

@media (min-width: 391px) and (max-width: 768px) {
  .main__product-list {
    width: 734px;
  }
  .main__cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 19px;
  }
  .main__product-twobtn {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 0;
  }
  .main__section-delivery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main__section-price {
    width: 360px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 214px;
    margin-top: 37px;
  }
  .main__cart-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__delivery-btn {
    margin-bottom: 128px;
  }
  .main__product-list-x {
    left: 716px;
  }
}

@media (max-width: 390px) {
  .main__cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 36px;
    margin-top: 96px;
  }
  .main__product-item-img {
    width: 143px;
    height: 188px;
  }
  .main__product-list-x {
    left: 336px;
  }
  .main__product-list {
    height: 188px;
  }
  .main__product-list {
    margin-top: 32px;
    width: 358px;
  }
  .main__product-item-text {
    font-size: 14px;
    line-height: 16px;
    width: 143px;
    margin-left: 17px;
  }
  .main__product-item-title {
    font-size: 16px;
    line-height: 19px;
    margin-left: 17px;
    margin-bottom: 25px;
    margin-top: 13px;
    width: 143px;
  }
  .main__product-info {
    width: 214px;
  }
  .main__cart-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__product-btn {
    width: 174px;
  }
  .main__product-twobtn {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 48px;
  }
  .main__section-price {
    width: 360px;
    height: 214px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main__section-delivery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .main__delivery-btn {
    margin-bottom: 48px;
  }
}

.header__button:hover + .nav,
.header__button:focus + .nav {
  display: block;
}

.header__button:hover svg > path {
  fill: red;
}

.nav:hover {
  display: block;
}

.nav__list {
  margin-left: 34px;
}

.nav__list .nav__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  margin-top: 24px;
}

.nav__list .nav__list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin: 12px;
}

.nav__list .nav__item-link {
  color: #6F6E6E;
}

.nav__list .nav__item-link:hover {
  color: red;
  cursor: pointer;
}

.nav .nav__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 37px;
  margin-left: 34px;
}

.registration__fieldset-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration__fieldset-pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration__title {
  background: #F8F3F4;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration__label-text {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.registration__title-style {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  width: 1140px;
}

.registration__login {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration__inf {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
}

.registration__legend-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

label + [type="text"],
label + [type="email"],
label + [type="password"] {
  padding: 15px;
  width: 360px;
  margin-top: 20px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  border: 1px solid #A4A4A4;
}

label + [type="text"]:hover,
label + [type="email"]:hover,
label + [type="password"]:hover {
  border: 1px solid #F16D7F;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[type="radio"] {
  display: none;
}

[id="female"] {
  margin-left: 47px;
}

[type="radio"] + label {
  margin-top: 33px;
  margin-left: 47px;
}

[type="radio"]:checked + label:before {
  background: #222222;
}

.registration__label-radio {
  position: relative;
  margin-left: 27px;
}

.registration__label-radio:before {
  content: '';
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  position: absolute;
  border-radius: 17px;
  top: -4px;
  left: -30px;
}

.registration__fieldset-pass {
  margin-top: 35px;
}

.registration__fieldset-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
}

.registration__join-btn {
  background-color: #F16D7F;
  padding-left: 29px;
  margin-top: 39px;
  width: 167px;
  height: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: left;
  border: none;
  margin-bottom: 96px;
  cursor: pointer;
  position: relative;
}

.registration__join-btn:before {
  content: '';
  width: 18px;
  height: 10px;
  position: absolute;
  top: 20px;
  left: 126px;
  background-image: url(../img/arrow-submit.png);
  background-repeat: no-repeat;
}

.registration__section {
  width: 540px;
}

.registration__inf-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.registration__inf-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 18px;
  text-align: left;
}

.registration__inf-text-img {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 18px;
  text-align: left;
  margin-left: 42px;
  position: relative;
}

.registration__inf-text-img:before {
  content: '';
  width: 20px;
  height: 16px;
  position: absolute;
  top: 6px;
  left: -40px;
  background-image: url(../img/bird.png);
  background-repeat: no-repeat;
}

@media (min-width: 391px) and (max-width: 768px) {
  .registration__title {
    padding-left: 16px;
  }
  .registration__wrapper {
    margin-top: 40px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .registration__inf-title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 14px;
  }
  .registration__inf-text {
    font-size: 16px;
    line-height: 19px;
  }
  .registration__inf-text-img {
    font-size: 16px;
    line-height: 19px;
  }
  label + [type="text"],
  label + [type="email"],
  label + [type="password"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .registration__inf {
    width: 354px;
  }
  .registration__login {
    width: 360px;
  }
}

@media (max-width: 390px) {
  .registration__title-style {
    text-align: center;
  }
  .registration__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .registration__login {
    width: 358px;
  }
  label + [type="text"],
  label + [type="email"],
  label + [type="password"] {
    width: 359px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .registration__inf {
    width: 358px;
    margin-bottom: 100px;
  }
  .registration__inf-title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 14px;
  }
  .registration__inf-text {
    font-size: 16px;
    line-height: 19px;
  }
  .registration__inf-text-img {
    font-size: 16px;
    line-height: 19px;
  }
  .registration__join-btn {
    margin-bottom: 40px;
  }
}

.sales {
  margin-top: 65px;
}

.sales__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sales__item-forwomen {
  background-image: url(../img/sales-women.jpg);
  background-repeat: no-repeat;
  width: 360px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sales__item-formen {
  background-image: url(../img/sales-man.jpg);
  background-repeat: no-repeat;
  width: 360px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sales__item-forkids {
  background-image: url(../img/sales-child.jpg);
  background-repeat: no-repeat;
  width: 360px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sales__item-accesories {
  background-image: url(../img/saled-accesories.jpg);
  background-repeat: no-repeat;
  margin-top: 30px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sales__item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.sales__item-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fa7474;
  text-transform: uppercase;
}

@media (min-width: 391px) and (max-width: 768px) {
  .sales__item-forwomen {
    width: 232px;
    height: 167px;
  }
  .sales__item-formen {
    width: 232px;
    height: 167px;
  }
  .sales__item-forkids {
    width: 232px;
    height: 167px;
  }
  .sales {
    margin-top: 20px;
  }
  .sales__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sales__item-accesories {
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 390px) {
  .sales__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sales__item-forwomen {
    margin-bottom: 32px;
  }
  .sales__item-formen {
    margin-bottom: 32px;
  }
  .sales__item-forkids {
    margin-bottom: 32px;
  }
  .sales__item-accesories {
    height: 111px;
    background-position: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Lato', sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.product__title {
  background: #F8F3F4;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__title-style {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  margin-left: 0px;
  margin-right: 0px;
  width: 201px;
}

.product__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__title-link {
  text-transform: uppercase;
  color: #636363;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.product__title-link:hover {
  color: #F16D7F;
  outline: auto;
}

.product__title-link-active {
  color: #F16D7F;
  font-weight: 700;
}

.product__inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
  width: 1140px;
  border: 1px solid #e6e6e6;
  -webkit-transform: translateY(-138px);
          transform: translateY(-138px);
  background: white;
  padding-top: 64px;
  padding-bottom: 65px;
}

.product__inf-title-h2 {
  text-transform: uppercase;
  color: #F16D7F;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  position: relative;
}

.product__inf-title-h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-top: 27px;
}

.product__inf-title-h2:before {
  content: '';
  position: absolute;
  width: 63px;
  height: 3px;
  top: 30px;
  left: 39px;
  background-color: #EF5B70;
}

.product__inf-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  width: 555px;
  margin-top: 48px;
}

.product__inf-line {
  width: 641px !important;
  color: #EAEAEA;
}

.product__inf-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 65px;
}

.product__inf-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  position: relative;
}

.product__inf-item-btn {
  border: 0;
  outline: 0;
  background-color: #FFFFFF;
}

.product__inf-btn {
  background: #FFFFFF;
  border: 1px solid #EF5B70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 211px;
  height: 47px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 48px;
}

.product__inf-btn:hover,
.product__inf-btn:active,
.product__inf-btn:focus .product__inf-btn-text {
  background-color: #EF5B70;
}

.product__inf-btn:hover .product__inf-btn-text {
  color: white;
}

.product__inf-btn:hover svg > path {
  fill: white;
}

.product__inf-btn-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #EF5B70;
  margin-left: 22px;
}

.product__list-style {
  background-color: #F8F8F8;
}

.product__icon-arrow {
  color: #EF5B70;
  font-size: 50px;
}
/*# sourceMappingURL=style.css.map */