.brand {
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.brand__logo {
    text-transform: uppercase;
}

.brand__title {
    font-weight: 900;
    font-size: 48px;
    position: relative;

}

.brand__title:before {
    content: '';
    width: 12px;
    height: 92px;
    position: absolute;
    background-color: #F16D7F;
    top: -4px;
    left: -26px;
}

.brand__text {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

}

@media (min-width: 391px) and (max-width: 768px) {
    .brand__img {

        height: 368px;
    }
}

@media (max-width: 390px) {

    .brand {
        height: 363px;
    }

    .brand__img {
        display: none;
    }

    .brand__text {
        font-size: 20px;
        line-height: 24px;
    }

    .brand__title {
        font-size: 38px;
    }

    .brand__title:before {
        top: 2px;
        height: 61px;
    }

}