.main__section-brand {
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
    justify-content: space-around;



}

.main__section-brand-logo {
    text-transform: uppercase;
}

.main__section-brand-title {
    font-weight: 900;
    font-size: 48px;
    position: relative;

}

.main__section-brand-title:before {
    content: '';
    width: 12px;
    height: 92px;
    position: absolute;
    background-color: #F16D7F;
    top: -4px;
    left: -26px;
}

.main__section-brand-text {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

}

@media (min-width: 391px) and (max-width: 768px) {
    .main__section-brand-img {

        height: 368px;
    }
}

@media (max-width: 390px) {

    .main__section-brand {
        height: 363px;
    }

    .main__section-brand-img {
        display: none;
    }

    .main__section-brand-text {
        font-size: 20px;
        line-height: 24px;
    }

    .main__section-brand-title {
        font-size: 38px;
    }

    .main__section-brand-title:before {
        top: 2px;
        height: 61px;
    }

}