.catalog {
    margin-top: 96px;
}

.catalog__fetured {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    align-items: center;
}

.catalog__fetured-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.catalog__fetured-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-top: 6px;

}

.catalog__product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog__product-block-transparent {
    width: 100%;
    min-height: 421px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
}

.catalog__product-list {

    width: 360px;

}

.catalog__product-btn-cart {

    position: absolute;
    top: 209px;
    left: 175px;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid #FFFFFF;
    background: none;
    color: #FFFFFF;
    width: 138px;
    height: 43px;
    box-sizing: border-box;
}

.catalog__product-btn-cart:hover,
.catalog__product-btn-cart:focus {

    background-color: #f54c4c;

}

.catalog__product-block-transparent,
.catalog__product-btn-cart {
    display: none;
}

.catalog__product-block {
    position: relative;
}

.catalog__product-block:hover .catalog__product-block-transparent {
    display: block;
}

.catalog__product-block:hover .catalog__product-btn-cart {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.catalog__product-item {
    margin-top: 24px;
}

.catalog__product-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-left: 13px;
    text-transform: uppercase;

}

.catalog__product-title:hover {
    box-sizing: border-box;
    outline: 3px solid #f54c4c;
}

.catalog__product-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 12px;
    margin-left: 12px;

}

.catalog__product-textcash {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px;
    margin-left: 18px;
    margin-bottom: 50px;
}

.catalog__btn {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.catalog__link:hover {
    background-color: #F16D7F;
    color: #FFFFFF;
}

.catalog__link {
    border: 1px solid #FF6A6A;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 14px 35px 14px 35px;

}

@media (min-width: 391px) and (max-width: 768px) {
    .catalog {
        margin-top: 154px;
    }

    .catalog__fetured {
        margin-bottom: 72px;
    }

    .catalog__product {
        justify-content: space-around;
    }

    .catalog__btn {
        margin-top: 32px;
    }
}

@media (max-width: 390px) {
    .catalog {
        margin-top: 64px;
    }

    .catalog__fetured {
        margin-bottom: 64px;
    }

    .catalog__product {
        flex-direction: column;
        align-items: center;
    }

    .catalog__product-textcash {
        margin-bottom: 0;
    }
}