.footer__inf {
    background-color: $black-bkg;
    display: flex;
    justify-content: center;
    margin-top: 95px;
    min-height: 341px;

}

.footer__list {
    width: 360px;
    height: 174px;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__item {
    margin-top: 28px;
}

.footer__list-title {

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
}

.footer__list-text {

    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
    text-align: center;
}

.footer__subscribe {
    display: flex;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    align-items: center;
    background-image: url(../img/footer-subcribe.jpg);
    background-position: center;
    min-height: 448px;
    background-size: cover;
}

.footer__subscribe-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__subscribe-text {

    font-weight: 400 light;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 359px;
    margin-top: 20px
}

.footer__subscribe-form-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.footer__subscribe-form-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}

.footer__item-img {
    height: 40px;
}

.footer__input-text {
    box-sizing: border-box;
    width: 256px;
    height: 49px;
    border: 0;
    border-radius: 25px 0 0 25px;
    color: #9F9F9F;
    padding-left: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background: #E1E1E1;

}

.footer__input-text:hover {
    border: 1px solid #F16D7F;

}

.footer__input-text:focus {
    border: 1px solid #FFFFFF;
    background: #555;


}

.footer__copysocial-item:hover {
    .svg-img {
        fill: red;
    }

    .path-fill {
        fill: #fff;
    }
}

.footer__copysocial-link:focus {

    border: none;
    outline: none;

    .svg-img {
        fill: red;
    }

    .path-fill {
        fill: #fff;
    }

}

.svg-img {
    fill: #FFFFFF;
}

.path-fill {
    fill: $black-bkg;
}

.footer__input-btn {
    background: #FFFFFF;
    width: 100px;
    height: 49px;
    margin-left: -4px;
    border: 1px solid #F16D7F;
    border-radius: 0 25px 25px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    cursor: pointer;

}

.footer__input-btn:hover {
    color: #FFFFFF;
    background: #F16D7F;
}

.footer__input-btn:focus {
    color: #fff;
    background: #555;
}


.footer__copysocial {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 79px;
    background-color: $black-bkg;
}

.footer__copysocial-list {
    display: flex;
}

.footer__copysocial-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;

}

.footer__copysocial-item {
    margin-left: 7px;
    box-sizing: content-box;
}