.header {
    background-color: $black-bkg;
    position: relative;

}

.header-flx {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;

    .header__logo {
        display: flex;
        align-items: center;
    }

    .header__list {
        display: flex;
        align-items: center;
    }

    .header__nav {
        display: none;
        position: absolute;
        background: #FFFFFF;
        top: 75px;
        right: 0;
        width: 232px;
        height: 764px;
    }
}

.header__logo {
    .header__search {
        position: relative;
        margin-left: 22px;
    }
}

.header__search {
    [type="search"] {
        padding: 10px 34px;
        border: none;
        outline: 1px solid black;
        border-radius: 10px;
    }

}

.header__search::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 13px;
    left: 7px;
    /*background-image: url(/step2/Shop/img/loupe.svg);
    background-size: 10px 10px;*/


}

[type="search"]:hover {
    outline: 1px solid #FFFFFF
}

[src="./img/loupe.svg"] {
    position: absolute;
    top: 8px;
    left: 6px;
    height: 20px;
    width: 20px;
}

.header__item {
    margin-left: 34px;
}

.header__button {
    border: none;
    background-color: transparent;
    cursor: pointer;

}