.header {
    background-color: $black-bkg;
    position: relative;

    .header__item {
        margin-left: 34px;
    }

    .header__item-nav {
        margin-left: 34px;
    }

    .header__button {
        border: none;
        background-color: transparent;
        cursor: pointer;

    }
}

.header__flx {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;

    .header__logo {
        display: flex;
        align-items: center;

    }

    .header__list {
        display: flex;
        align-items: center;
    }

    .nav {
        display: none;
        position: absolute;
        background: #FFFFFF;
        top: 75px;
        right: 0;
        width: 232px;
        height: 764px;
    }
}

.header__logo {
    .header__search {
        position: relative;
        margin-left: 22px;
    }

    .header__search:hover {
        display: block;
    }



    [type="search"] {
        padding: 10px 34px;
        border: none;
        outline: 1px solid $black-bkg;
        border-radius: 10px;
        background: $black-bkg;
    }

    .header__search-svg-img {
        position: absolute;
        top: 8px;
        left: 6px;
        height: 20px;
        width: 20px;

    }

    .header__search-path-fill {
        fill: white;
    }

    [type="search"]:hover,
    [type="search"]:focus {
        outline: 1px solid #f54c4c;
        border: 2px solid #f54c4c;
        background: #FFFFFF;

    }

    [type="search"]:hover+.header__search-svg-img>path,
    [type="search"]:focus+.header__search-svg-img>path {
        fill: $black-bkg;
    }
}

.header__svg-img:hover path {
    fill: red;
}

.header__link:focus .header__svg-img path {
    fill: red;
}

@media (min-width: 391px) and (max-width: 768px) {
    .header__item {
        margin-left: 25px;
    }

    .header__flx {
        justify-content: space-around;
    }
}


@media (max-width: 390px) {

    .header__item {
        display: none;
    }

    .header__flx {
        justify-content: space-around;
    }

    [type="search"] {
        padding: 10px 5px;
    }
}