.header__button:hover+.nav,
.header__button:focus+.nav {
    display: block;
}

.header__button:hover {
    svg>path {
        fill: red;
    }
}

.nav:hover {
    display: block;
}

.nav__list {
    margin-left: 34px;

    .nav__item {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
        text-transform: uppercase;
        margin-top: 24px;

    }

    .nav__list-item {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        margin: 12px;
    }

    .nav__item-link {
        color: #6F6E6E;
    }

    .nav__item-link:hover {
        color: red;
        cursor: pointer;
    }

}

.nav {
    .nav__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        text-transform: uppercase;
        margin-top: 37px;
        margin-left: 34px;
    }

}