.registration__fieldset-name {
    display: flex;
    flex-direction: column;
}

.registration__fieldset-pass {
    display: flex;
    flex-direction: column;
}

.registration__title {
    background: #F8F3F4;
    height: 148px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.registration__label-text {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.registration__title-style {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
    width: 1140px;

}

.registration__login {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.registration__inf {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.registration__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;

}

.registration__legend-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

label+[type="text"],
label+[type="email"],
label+[type="password"] {
    padding: 15px;
    width: 360px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    border: 1px solid #A4A4A4;
}

label+[type="text"]:hover,
label+[type="email"]:hover,
label+[type="password"]:hover {
    border: 1px solid #F16D7F;
}

.radio {
    display: flex;
}

[type="radio"] {
    display: none;
}

[id="female"] {
    margin-left: 47px;
}

[type="radio"]+label {
    margin-top: 33px;
    margin-left: 47px;
}

[type="radio"]:checked+label:before {
    background: $black-bkg;

}

.registration__label-radio {
    position: relative;
    margin-left: 27px;
}

.registration__label-radio:before {
    content: '';
    width: 17px;
    height: 17px;
    border: 1px solid #A4A4A4;
    position: absolute;
    border-radius: 17px;
    top: -4px;
    left: -30px;
}

.registration__fieldset-pass {
    margin-top: 35px;
}

.registration__fieldset-text {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin-top: 15px;
}

.registration__join-btn {
    background-color: #F16D7F;
    padding-left: 29px;
    margin-top: 39px;
    width: 167px;
    height: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: left;
    border: none;
    margin-bottom: 96px;
    cursor: pointer;
    position: relative;
}

.registration__join-btn:before {
    content: '';
    width: 18px;
    height: 10px;
    position: absolute;
    top: 20px;
    left: 126px;
    background-image: url(../img/arrow-submit.png);
    background-repeat: no-repeat;
}

.registration__section {

    width: 540px;

}

.registration__inf-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 22px;

}

.registration__inf-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 18px;
    text-align: left;

}

.registration__inf-text-img {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 18px;
    text-align: left;
    margin-left: 42px;
    position: relative;
}

.registration__inf-text-img:before {
    content: '';
    width: 20px;
    height: 16px;
    position: absolute;
    top: 6px;
    left: -40px;
    background-image: url(../img/bird.png);
    background-repeat: no-repeat;
}

@media (min-width: 391px) and (max-width: 768px) {
    .registration__title {
        padding-left: 16px;
    }

    .registration__wrapper {
        margin-top: 40px;
        justify-content: space-around;
    }

    .registration__inf-title {

        font-size: 16px;
        line-height: 19px;

        margin-bottom: 14px;
    }

    .registration__inf-text {
        font-size: 16px;
        line-height: 19px;

    }

    .registration__inf-text-img {
        font-size: 16px;
        line-height: 19px;

    }

    label+[type="text"],
    label+[type="email"],
    label+[type="password"] {
        box-sizing: border-box;
    }

    .registration__inf {
        width: 354px;
    }

    .registration__login {
        width: 360px;
    }
}

@media (max-width: 390px) {
    .registration__title-style {
        text-align: center;
    }

    .registration__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .registration__login {
        width: 358px;
    }

    label+[type="text"],
    label+[type="email"],
    label+[type="password"] {
        width: 359px;
        box-sizing: border-box;
    }

    .registration__inf {
        width: 358px;
        margin-bottom: 100px;
    }

    .registration__inf-title {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 14px;
    }

    .registration__inf-text {
        font-size: 16px;
        line-height: 19px;

    }

    .registration__inf-text-img {
        font-size: 16px;
        line-height: 19px;

    }

    .registration__join-btn {
        margin-bottom: 40px;
    }
}