.sales {
    margin-top: 65px;
}

.sales__list {
    display: flex;
    justify-content: space-between;

}

.sales__item-forwomen {
    background-image: url(../img/sales-women.jpg);
    background-repeat: no-repeat;
    width: 360px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sales__item-formen {
    background-image: url(../img/sales-man.jpg);
    background-repeat: no-repeat;
    width: 360px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sales__item-forkids {
    background-image: url(../img/sales-child.jpg);
    background-repeat: no-repeat;
    width: 360px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sales__item-accesories {
    background-image: url(../img/saled-accesories.jpg);
    background-repeat: no-repeat;
    margin-top: 30px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sales__item-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;


}

.sales__item-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #fa7474;
    text-transform: uppercase;
}

@media (min-width: 391px) and (max-width: 768px) {
    .sales__item-forwomen {
        width: 232px;
        height: 167px;

    }

    .sales__item-formen {
        width: 232px;
        height: 167px;

    }

    .sales__item-forkids {
        width: 232px;
        height: 167px;

    }

    .sales {
        margin-top: 20px;
    }

    .sales__list {
        justify-content: space-around;

    }

    .sales__item-accesories {
        margin-left: 17px;
        margin-right: 17px;
    }
}

@media (max-width: 390px) {
    .sales__list {
        flex-direction: column;
        align-items: center;
    }

    .sales__item-forwomen {
        margin-bottom: 32px;
    }

    .sales__item-formen {
        margin-bottom: 32px;
    }

    .sales__item-forkids {
        margin-bottom: 32px;
    }

    .sales__item-accesories {
        height: 111px;
        background-position: center;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 0;
    }
}